Flask==3.1.3
flask-cors==6.0.5

torch==2.1.0
torchvision==0.16.0

transformers==4.41.2
diffusers==0.27.2
accelerate==0.30.1
huggingface_hub==0.23.5

open_clip_torch==2.24.0
safetensors==0.4.3
Pillow==10.3.0

gunicorn==22.0.0